
main {
    width: 100%;
    min-height: 73vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.nav--responsive {
    align-self: flex-start;
}


/*
  Para los títulos del listado y productos. Las imágenes son más grandes que en los formularios
*/

.titulo__img {
    height: 40px;
    margin-right: 25px;
}


/*
    Formulario buscadores
*/

.form {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    width: 100%;
}

.form__buscadores {
    display: flex;
    justify-content: center;
}

.input--text {
    border: 1px solid var(--negro);
    border-radius: 0.7em;
    padding: 10px;
    outline: none;
    transition: all 0.2s ease-in;
    width: 100%;
    height: 100%;
}

.input--text:focus {
    border: 1px solid var(--negro);
    box-shadow: 0 0 5px 1px var(--morado-claro);
    transition: all 0.2s ease-in;
}

.input--select {
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 15px;
    width:10em;
    height: 100%;
    border: 1px solid var(--negro);
    border-radius: 0.7em;
    transition: all 0.2s ease-in;
}

.input--select:focus {
    border: 1px solid var(--negro);
    box-shadow: 0 0 5px 1px var(--morado-claro);
    transition: all 0.2s ease-in;
}

::placeholder {
    color: var(--negro);
}

.form__div {
    display: flex;
    align-items: center;
    padding-left: 20px;
}


/*
    Listado
*/

.section {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    height: fit-content;
    padding: 80px 100px 0 100px;
}

.pokemon {
    height: fit-content;
    width: 18em;
    border: 1px solid var(--negro);
    border-radius: 0.5em;
    box-shadow: 4px 4px 8px #00000040;
    transition: all 0.2s ease-in;
    margin:30px;
    padding: 20px 18px 0 18px;
    /* cursor: pointer; */
    display: flex;
    flex-direction: column;
}

.pokemon:hover {
    transform: translateY(-10px);
    transition: all 0.2s ease-in;
}

.pokemon__a {
    height: 90%;
}

.pokemon__div--fondo {
    width: 100%;
    height: 80%;
    border-radius: 0.5em;
    background-color: var(--gris);
    display: flex;
    justify-content: center;
    align-self: center;
    cursor: pointer;
}

.pokemon__div--fondo img {
    height: 90%;
}

.pokemon__div--datos {
    height: 5em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 25px 0 25px;
}

.div--datos__p {
    display: flex;
    flex-direction: column;
    line-height: 1.7em;
    font-size: 18px;
    font-weight: bold;
}

.div--datos__p span {
    font-size: 14px;
    font-weight: normal;
    padding-left: 5px;
}

.pokemon__div--datos .iconify {
    font-size: 1.5em;
}

.movimiento {
    height: 6em;
    width: 20em;
    border: 1px solid var(--negro);
    border-radius: 0.5em;
    box-shadow: 4px 4px 8px #00000040;
    transition: all 0.2s ease-in;
    margin:30px;
    padding: 20px 18px 20px 18px;
    cursor: pointer;
}

.movimiento:hover {
    transform: translateY(-10px);
    transition: all 0.2s ease-in;
}

.movimiento__a {
    display: flex;
    align-items: center;
}

.movimiento img {
    height: 49px;
}

.movimiento p {
    margin-left: 10%;
}


.botones {
    display: flex;
    padding-top: 10px;
    padding-bottom: 40px;
}

.boton {
    margin: 15px;
}



@media (max-width: 780px) {

    .form {
        flex-direction: column;
    }

    .form__div {
        margin-top: 15px;
    }

    .section {
        padding: 60px 0 0 0;
    }

    .form__label--categoria {
        margin-top: 15px;
    }

    .input--text {
        padding: 8px;
    }

    .input--select {
        padding: 8px;
    }

    .pokemon {
        height: 20em;
        width: 17em;
    }

    .pokemon__div--datos {
        padding-top: 10px;
    }

    .div--datos__p {
        font-size: 16px;
    }

    .div--datos__p span {
        font-size: 12px;
    }

    .pokemon__div--datos .iconify {
        font-size: 1.4em;
    }

    .movimiento {
        height: 5em;
        width: 19em;
    }

    .movimiento img {
        height: 45px;
    }

}

@media (max-width: 480px) {

    .form__label {
        width: 150px;
    }

    .input--text {
        padding: 6px;
    }

    .input--select {
        padding: 6px;
        width: 80%;
    }

    .input--text::placeholder, .input--select::placeholder {
        font-size: 14px;
    }

    .pokemon {
        height: 17em;
        width: 14em;
        padding: 15px 13px 15px 13px;
    }

    .pokemon__div--datos {
        padding: 5px 10px;
    }

    .div--datos__p {
        font-size: 14px;
    }

    .div--datos__p span {
        font-size: 10px;
    }

    .pokemon__div--datos .iconify {
        font-size: 1.2em;
    }

    .movimiento {
        width: 16em;
    }

    .movimiento img {
        height: 44px;
    }

    .movimiento p {
        font-size: 14px;
    }

}

@media (max-width: 320px) {

    .form__label {
        width: 120px;
        height: 28px;
    }

    .input--text::placeholder, .input--select::placeholder {
        font-size: 12px;
    }

    .section {
        padding-top: 30px;
    }

    .pokemon {
        height: 14em;
        width: 11em;
    }

    .pokemon__div--datos {
        padding-top: 3px;
    }

    .div--datos__p {
        font-size: 13px;
        height: fit-content;
    }

    .div--datos__p span {
        font-size: 10px;
    }

    .pokemon__div--datos .iconify {
        font-size: 1em;
    }

    .movimiento {
        height: 4em;
        width: 12em;
    }

    .movimiento__a {
        width: 50%;
    }

    .movimiento img {
        height: 35px;
    }

    .footer .boton__contenido {
        font-size: 12px;
    }

}
