
/* Estilos generales para todas las páginas */


/*
    Colores
*/

:root {
    --negro: #222222;
    --blanco: #FFFFFF;
    --morado: #554DD0;
    --morado-claro: #8B7AD0;
    --rojo: #E30909;
    --gris: #F2F2F2;
    --gris-modo-oscuro: #474747;
}


/*
    General
*/


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: var(--negro);
    font-family: 'Noto Serif', sans-serif;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

::selection {
    background-color: var(--morado-claro);
    color: var(--blanco);
}

html, body {
    width: 100%;
}


/*
    Header
*/


.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 8px solid #554DD0CC; /* CC -> 80% opacidad */
    height: 12vh;
    width: 100%;
    padding-left: 3%;
    padding-right: 3%;
}

.header__logo img {
    width: 100%;
}

.header__logo {
    width: 14%;
    display: flex;
    justify-content: center;
}

.nav, .nav--sin-sesion {
    width: 80%;
}

.nav {
    display: flex;
    justify-content: flex-end;
}

.nav__ul {
    display: flex;
    justify-content: flex-end;
}

.nav__ul--botones {
    margin-left: 8%;
    align-items: center;
}

.ul__li {
    font-size: 1.3rem;
    margin-left: 25%;
}

.ul__li--boton {
    margin-left: 0;
}

.nav--sin-sesion .ul__li--boton {
    margin-left: 3%;
    display: flex;
    align-items: center;
}

.header a, .header span {
    font-family: 'Noto Serif', serif;
}

.boton--modo-oscuro {
    background: none;
    border: none;
    display: flex;
    cursor: pointer;
}

.boton--modo-oscuro path:hover {
    color: #222222B3;
}

.div--desplegable {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.div--desplegable .iconify {
    font-size: 13px;
    padding-left: 5%;
    transition: all 0.5s;
}

.div--desplegable .icono--desplegable-abierto {
    transform: rotate(180deg) translate(-2px, -2px);
    transition: all 0.5s;
}

.ul__li--desplegable {
    position: relative;
}

.menu--desplegable {
    display: none;
    background-color: var(--blanco);
    position: absolute;
    top:35px;
    right:0;
    border-radius: 0.3em;
    border: 1px solid var(--gris);
    box-shadow: 4px 4px 8px #00000040;
    width: 200%;
    padding: 10px;
    cursor: pointer;
}

.menu--desplegable-abierto {
    display: block;
}

.menu--desplegable:hover {
    background-color: var(--gris);
}

.menu--desplegable span {
    font-family: 'Noto Serif', sans-serif;
    font-size: initial;
}

.nav--responsive span {
    font-family: 'Noto Serif', serif;
}

.nav--responsive-boton {
    display: none;
}

.nav--responsive {
    background-color: #7771D9;
    top: 11vh;
    width: 0;
    position: fixed;
    z-index: 2;
    height: 89vh;
    overflow-x: hidden;
    transition: width 0.5s;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.nav--responsive__ul {
    width: 100%;
}

.ul__li--responsive {
    width: 100%;
    border-bottom: 1px solid var(--blanco);
    transition: all 0.2s ease-in;
}

.ul__li--responsive:hover {
    background-color: var(--morado-claro);
    transition: all 0.2s ease-in;
}

.ul__li--responsive a {
    display: block;
    padding: 25px 20px;
    color: var(--blanco);
    font-family: 'Noto Serif', serif;
    height: 100%;
    cursor: pointer;
}

.scroll-desactivado {
    height: 100%;
    overflow: hidden;
}

.overlay {
    z-index: 1;
    position: fixed;
    width: 100%;
    height: 150%;
    cursor: pointer;
    display: none;
}

.nav--responsive__ul--botones {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid var(--blanco);
    padding: 25px 20px;
}

.nav--responsive__ul--botones path {
    color: var(--blanco);
}

.nav--responsive__ul--botones path:hover {
    color: #FFFFFFB3;
}

.span--cerrar-sesion {
    color: var(--blanco);
    cursor: pointer;
}

.span--cerrar-sesion:hover {
    color: #FFFFFFB3;
}


/*
    Títulos
*/


.titulo {
    display: flex;
    margin-top: 50px;
    margin-bottom: 50px;
    width: 60%;
}

.titulo__img {
    height: 33px;
    margin-right: 25px;
}

.titulo__div {
    width: 139px;
    min-width: 91px;
    height: 91px;
    background-color: var(--morado);
    clip-path: polygon(0 0, 100% 0, 75% 100%, 0% 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 0.5em;
    border-bottom-left-radius: 0.5em;
    border: 1px solid var(--negro);
}

.titulo__h1 {
    height: 78px;
    width: 90%;
    min-width: fit-content;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transform: skewX(-20deg);
    box-shadow: 4px 4px 8px #00000040;
    margin-left: -15px;
    padding-right: 7%;
    border-top-right-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
    border-top: 1px solid var(--negro);
}

.titulo__contenido {
    transform: skewX(20deg);
    margin: 0 40px 0 40px;
    font-family: 'Noto Serif', serif;
}

.h1__imagen {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
    width: 70%;
}

.h1__imagen img {
    transform: skewX(20deg);
    height: 35%;
    margin-left: 3%;
}


/*
    Botones
*/


.boton {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 18px;
    background-color: var(--morado);
    border-radius: 0.3em;
    /* Para hacer que sea diagonal   */
    transform: skewX(-12deg);
    border: 1px solid var(--negro);
    transition: all 0.2s ease-in;
    cursor: pointer;
}

.boton:hover {
    background-color: var(--morado-claro);
    transition: all 0.2s ease-in;
}

.boton:focus {
    background-color: var(--negro);
}

.boton__contenido {
    /* Para hacer que el contenido esté recto   */
    transform: skewX(12deg);
    color: var(--blanco);
    font-family: 'Noto Serif', serif;
    font-size: 18px;
}

.boton__contenido--icono {
    height: 1.2em;
    padding-right: 15px;
}

.boton--grande {
    height:3.5em;
    width: fit-content;
}

.boton--pequeño {
    height: 2em;
    width: fit-content;
}

/*
    Botones formulario
*/


.boton--circular {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--morado);
    border: 1px solid var(--negro);
    height: 40px;
    width: 40px;
    border-radius: 50%;
    transition: all 0.2s ease-in;
    cursor: pointer;
}

.boton--circular:hover {
    background-color: var(--morado-claro);
    transition: all 0.2s ease-in;
}

.boton--circular:focus {
    background-color: var(--negro);
}

.boton__contenido--random {
    height: 25px;
}


/*
    Footer
*/


.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #9B98D166;  /* 66 -> 40% opacidad */
    border-top: 7px solid #554DD099; /* 99 -> 60% opacidad */
    height: 15vh;
    width: 100%;
    padding-right: 50px;
    padding-left: 50px;
}

.footer__logo {
    width: 4%;
}

.footer__logo img {
    width: 100%;
}

.footer__ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 1.5rem;
    font-size: 14px;
}

.footer__ul a {
    transition: all 0.2s ease-in;
}

.footer__ul a:hover {
    color: #222222B3;
    transition: all 0.2s ease-in;
}

.footer__div--redes {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 14px;
    flex-wrap: wrap;
    justify-content: center;
    height: 70%;
    line-height: 2em;
    padding-right: 25px;
}

.footer__div--redes ul {
    padding-left: 1em;
}

.iconify {
    font-size: 1.25rem;
}

.footer path:hover, circle:hover {
    color: #222222B3;
}


@media (min-width: 870px) {

    /*
        Para que el menú desplegable se cierre y vuelva el scroll si la pantalla vuelve a ser grande mientras está abierto
    */

    .nav--responsive {
        display: none;
    }

    .scroll-desactivado {
        overflow: scroll;
    }

}

@media (max-width: 1024px) {

    .header__logo {
        width: 18%;
    }

    .ul__li {
        font-size: 18px;
    }

    .titulo__div {
        display: none;
    }

    .titulo__h1 {
        transform: initial;
        border-bottom-right-radius: 0;
        border-top: 4px solid #554DD0CC;
    }

    .titulo__contenido {
        transform: initial;
    }

    .h1__imagen img {
        transform: initial;
    }

}

@media (max-width: 870px) {

    .nav {
        display: none;
    }

    .nav--responsive-boton {
        height: fit-content;
        width: 25px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
        cursor: pointer;
    }

    .nav__div {
        width: 100%;
        height: 3px;
        margin: 3px 0;
        background-color: var(--negro);
        border-radius: 0.5em;
        transition: all 0.5s;
        cursor: pointer;
    }

    .abierto .nav__div--uno {
        transform: rotate(-45deg) translate(-5px, 8px);
    }

    .abierto .nav__div--tres {
        transform: rotate(45deg) translate(-4px, -8px);
    }

    .abierto .nav__div--dos {
        opacity: 0;
    }

}

@media (max-width: 780px) {

    .header {
        padding-left: 5%;
        padding-right: 5%;
    }

    .header__logo {
        width: 25%;
    }

    .boton--grande {
        height: 3rem;
    }

    .boton--pequeño .boton__contenido {
        font-size: 16px;
    }

    .boton--pequeño {
        padding: 16px;
    }

    .boton--circular {
        height: 35px;
        width: 35px;
    }

    .boton__contenido--random {
        height: 23px;
    }

    .titulo {
        font-size: 14px;
    }

    .footer {
        padding-left: 30px;
        padding-right: 30px;
    }

    .footer__ul {
        font-size: 12px;
        line-height: 1.3rem;
    }

    .footer__div--redes {
        line-height: 1.5em;
    }

}

@media (max-width: 680px) {

    .footer__logo {
        width: 7%;
    }

    .footer .iconify {
        font-size: 16px;
    }

}

@media (max-width: 480px) {

    .header__logo {
        width: 35%;
    }

    .titulo {
        font-size: 12px;
    }

    .titulo__h1 {
        height: 65px;
    }

    .titulo__contenido {
        font-size: 20px;
    }

    .boton--grande {
        height: 2.5rem;
    }

    .boton--pequeño {
        padding: 14px;
    }

    .boton__contenido {
        font-size: 16px;
    }

    .boton__contenido--icono {
        height: 1rem;
    }

    .boton--circular {
        height: 32px;
        width: 32px;
    }

    .boton__contenido--random {
        height: 21px;
    }

    .footer__logo {
        width: 9%;
    }

    .footer__ul {
        font-size: 10px;
        line-height: 1rem;
    }

    .nav__div {
        height: 2px;
    }

    .abierto .nav__div--tres {
        transform: rotate(45deg) translate(-3px, -6px);
    }

    .nav--sin-sesion a {
        font-size: 16px;
    }

    .nav--sin-sesion .iconify {
        font-size: 16px;
    }

    .ul__li--responsive a {
        padding: 20px 20px;
    }

    .footer .iconify {
        font-size: 14px;
    }

}

@media (max-width: 320px) {

    .titulo__h1 {
        height: 55px;
        min-width: fit-content;
    }

    .titulo__contenido {
        font-size: 18px;
    }

    .boton--pequeño {
        padding: 12px;
    }

    .boton--pequeño .boton__contenido {
        font-size: 12px;
    }

    .boton--circular {
        height: 30px;
        width: 30px;
    }

    .boton__contenido--random {
        height: 19px;
    }

}

.pokeballs {
    height:80px;
    display: block;
    margin: auto;
}

.figure figcaption {
    margin-top: 20px;
}

.figure {
    margin: 0 0 100px 0;
}

.loader figcaption {
    opacity: 70%;
}

.loader {
    height: 80px;
    animation: rotate 4s linear infinite;
}

@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}

